<!DOCTYPE html>
<html lang="en">


    <head>
        <% include ../partials/head.ejs %>
    </head>

    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>

        <h2>Page not found</h2>


        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>

</html>