<!DOCTYPE html>
<html lang="en">

    <head>
      <% include ../partials/head.ejs %>
    </head>

    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>
        <center>
            <h2><%= input %> squared = <%= result %>.</h2>
        </center>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>

</html>