<title>
    <%= head.title %>
</title>

<h2>Sabrina Antoni</h2>
<!-- use bootstrap CSS definitions, and load them from their CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">